body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

h1 {
    color: #c00060; 
    margin: 20px 0;
    padding: 18px;
    border-left: 4px solid #ffd4ea;
    border-bottom: 4px solid#ffd4ea;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
    font-size: 59px;
}

h1:hover {
    transform: translateY(-5px); 
}

p {
    color: #333;
    margin: 37px 0;
}

b {
    color: #c00060; 
    padding: 20px;
    border-bottom: 4px solid #ffd4ea;
    border-top: 4px solid #ffd4ea;
    transition: transform 0.3s ease-in-out; 
}

b:hover {
    transform: translateY(-5px);
}

.result {
    width: 800%; 
    text-align: right;
}